<section class="container mt-5 p-4 bg-light rounded shadow">
  <h3 class="text-center display-4 text-primary">PRODUCTOS</h3>
  <hr class="border border-primary" />
  <div class="d-flex justify-content-center mt-4">
    <button
      type="button"
      class="btn btn-outline-primary btn-lg"
      [routerLink]="['/formAlta']"
      target="_blank"
    >
      Añadir producto
    </button>
  </div>

  <div class="mt-4 bg-white p-3 rounded shadow-sm">
    <!-- Aquí es donde usamos el EventEmitter para actualizar los productos al realizar el filtrado -->
    <app-product-filter
      (resultFiltro)="actualizarProductos()"
    ></app-product-filter>
  </div>

  <div class="row mt-5">
    @for (producto of productos; track producto._id) {
    <article class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="p-3 border rounded bg-white shadow-sm">
        <!-- Y aquí usamos la interpolación para pasar el objeto producto del padre al hijo -->
        <app-product-card [miProducto]="producto"></app-product-card>
      </div>
    </article>
    } @empty {
    <h2 class="text-center text-secondary">No hay productos</h2>
    }
  </div>
</section>
