/* Uso de colores para cuando el usuario toca el campo y 
no lo rellena y cuando lo rellena de forma correcta */
input.ng-valid.ng-touched {
  border-bottom: 2px solid lightgreen;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid tomato;
}

.error {
  color: tomato;
  font-size: 80%;
  margin: 0px 0px 0px 15px;
}

/* .imagen-fondo {
  background-image: url("https://img.freepik.com/premium-photo/clothing-shop-s-hangers-exhibit-modern-fashion-highlighting-boutique-s-stylish-ambiance_896558-6162.jpg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
} */

.form {
  max-width: 400px;
  width: 30%;
  background-color: rgba(196, 202, 220, 0.758);
}
