<div class="card p-4 shadow-lg rounded-3 form border-0 w-50 mx-auto">
  <h3 class="text-center mb-4 text-primary">Nuevo Producto</h3>

  <form [formGroup]="productoForm" (ngSubmit)="getDataForm()">
    <div class="mb-3">
      <label for="name" class="form-label fw-semibold">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Introduce el nombre del producto"
        id="name"
        formControlName="name"
      />
      @if(checkControl('name', 'required')) {
      <p class="error">Campo requerido</p>
      }
    </div>

    <div class="mb-3">
      <label for="description" class="form-label fw-semibold">Descripción</label>
      <input
        type="text"
        class="form-control"
        placeholder="Introduce la descripción del producto"
        id="description"
        formControlName="description"
      />
      @if(checkControl('description', 'required')) {
      <p class="error">Campo requerido</p>
      }
    </div>

    <div class="mb-3">
      <label for="price" class="form-label fw-semibold">Precio</label>
      <input
        type="number mt-0"
        class="form-control"
        placeholder="Introduce el precio del producto"
        id="price"
        formControlName="price"
      />
      @if(checkControl('price', 'required')) {
      <p class="error text-danger">Campo requerido</p>
      } @if(checkControl('price', 'min') || checkControl('price', 'max')) {
      <p class="error">El valor no es válido, debe estar entre 1 y 35 euros</p>
      }
    </div>

    <div class="mb-3">
      <label for="category" class="form-label fw-semibold">Categoría</label>
      <select class="form-select" id="category" formControlName="category">
        <option value="" disabled selected>Selecciona una categoría</option>
        <option value="mujer">Mujer</option>
        <option value="hombre">Hombre</option>
        <option value="niño">Niño</option>
      </select>
      @if(checkControl('category', 'required')) {
      <p class="error">Campo requerido</p>
      }
    </div>

    <div class="mb-3">
      <label for="active" class="form-label fw-semibold">¿Activar?</label>
      <select class="form-select" id="active" formControlName="active">
        <option value="true">Sí</option>
        <option value="false">No</option>
      </select>
      @if(checkControl('active', 'required')) {
      <p class="error">Campo requerido</p>
      }
    </div>

    <div class="mb-3">
      <label for="image" class="form-label fw-semibold">Imagen(URL)</label>
      <input
        type="text"
        class="form-control"
        id="image"
        formControlName="image"
        placeholder="Introduce la URL de la imagen"
        name="image"
      />
      @if(checkControl('image', 'pattern')) {
      <p class="error">URL no válida</p>
      }
    </div>

    <input
      type="submit"
      value="Enviar"
      class="btn btn-primary w-100 py-2"
      [disabled]="!productoForm.valid"
    />
  </form>

  <div class="mt-4 text-center">
    <button
      type="button"
      class="btn btn-secondary"
      [routerLink]="['/productos']"
      target="_blank"
    >
      Volver
    </button>
  </div>
</div>
